
@keyframes wiggle {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes wiggle {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}